@model List<IncripcionesCobach.Models.PapeletasAdeudo>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/vendor/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="~/vendor/base/vendor.bundle.base.css">

    <script>
        $(document).ready(function () {
            var table = $('#example').DataTable({
                'paging': true,
                'scrollX': true,
                'pageLength': 10,
                'order': [[1, 'asc']],
                "bPaginate": false,
                "bLengthChange": false,
                "bFilter": false,
                "bInfo": false,
            });
            var table = $('#example2').DataTable({
                'paging': true,
                'scrollX': true,
                'pageLength': 10,
                'order': [[1, 'asc']],
                "bPaginate": false,
                "bLengthChange": false,
                "bFilter": false,
                "bInfo": false,
            });
            var table = $('#example3').DataTable({
                'paging': true,
                'scrollX': true,
                'pageLength': 10,
                'order': [[1, 'asc']],
                "bPaginate": false,
                "bLengthChange": false,
                "bFilter": false,
                "bInfo": false,
            });
        });
    </script>
    <script type="text/javascript">
        var tableToExcel = (function () {
            var uri = 'data:application/vnd.ms-excel;base64,'
                , template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--></head><body><table>{table}</table></body></html>'
                , base64 = function (s) { return window.btoa(unescape(encodeURIComponent(s))) }
                , format = function (s, c) { return s.replace(/{(\w+)}/g, function (m, p) { return c[p]; }) }
            return function (table, name) {
                if (!table.nodeType) table = document.getElementById(table)
                var ctx = { worksheet: name || 'Worksheet', table: table.innerHTML }
                window.location.href = uri + base64(format(template, ctx))
            }
        })()
    </script>
</head>

<body>
    <!-- page-body-wrapper -->
    <div class="container-fluid page-body-wrapper">
        <!-- main-panel -->
        <div class="main-panel">
            <!-- content-wrapper -->
            <div class="content-wrapper">
                <br />
                <div class="row">
                    <div class="col-md-12 grid-margin">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="col-lg-6 col-md-4">
                                <h2 class="font-weight-bold mb-0">@ViewBag.Title</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <hr style="background-color:#008574; height:5px;width: 100%;" /><br />
                <div class="row">
                    @foreach (var TP in ViewBag.TotalesPapeleta)
                    {
                        <div class="col-md-3 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body">
                                    <p class="card-title text-md-center text-xl-left">Grupos Generados</p>
                                    <div class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
                                        <h3 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0">@TP.TotalGrupos</h3>
                                        <i class="ti-calendar icon-md text-muted mb-0 mb-md-3 mb-xl-0"></i>
                                    </div>
                                    <!--<p class="mb-0 mt-2 text-danger">porcentaje-->@*@countt.Total*@<!--% <span class="text-black ml-1"><small>(ultima actualiz)</small></span></p>-->
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body">
                                    <p class="card-title text-md-center text-xl-left">Papeletas Generadas</p>
                                    <div class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
                                        <h3 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0">@TP.TotalPapeletas</h3>
                                        <i class="ti-user icon-md text-muted mb-0 mb-md-3 mb-xl-0"></i>
                                    </div>
                                    @*<p class="mb-0 mt-2 text-danger">0.47% <span class="text-black ml-1"><small>(30 days)</small></span></p>*@
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body">
                                    <p class="card-title text-md-center text-xl-left">Ingreso Total</p>
                                    <div class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
                                        <h3 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0">$@TP.TotalIngreso.00</h3>
                                        <i class="ti-agenda icon-md text-muted mb-0 mb-md-3 mb-xl-0"></i>
                                    </div>
                                    @*<p class="mb-0 mt-2 text-success">64.00%<span class="text-black ml-1"><small>(30 days)</small></span></p>*@
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body">
                                    <p class="card-title text-md-center text-xl-left">Total de Comprobantes</p>
                                    <div class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
                                        <h3 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0">@TP.TotalComprobantes</h3>
                                        <i class="ti-layers-alt icon-md text-muted mb-0 mb-md-3 mb-xl-0"></i>
                                    </div>
                                    @*<p class="mb-0 mt-2 text-success">23.00%<span class="text-black ml-1"><small>(30 days)</small></span></p>*@
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <hr style="background-color:#008574; height:5px;width: 100%;" /><br />
                <div class="row" hidden>
                    <div class="col-md-6 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <p class="card-title">Sales details</p>
                                <p class="text-muted font-weight-light">Received overcame oh sensible so at an. Formed do change merely to county it. Am separate contempt domestic to to oh. On relation my so addition branched.</p>
                                <div id="sales-legend" class="chartjs-legend mt-4 mb-2"></div>
                                <canvas id="sales-chart"></canvas>
                            </div>
                            <div class="card border-right-0 border-left-0 border-bottom-0">
                                <div class="d-flex justify-content-center justify-content-md-end">
                                    <div class="dropdown flex-md-grow-1 flex-xl-grow-0">
                                        <button class="btn btn-lg btn-outline-light dropdown-toggle rounded-0 border-top-0 border-bottom-0" type="button" id="dropdownMenuDate2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                            Today
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuDate2">
                                            <a class="dropdown-item" href="#">January - March</a>
                                            <a class="dropdown-item" href="#">March - June</a>
                                            <a class="dropdown-item" href="#">June - August</a>
                                            <a class="dropdown-item" href="#">August - November</a>
                                        </div>
                                    </div>
                                    <button class="btn btn-lg btn-outline-light text-primary rounded-0 border-0 d-none d-md-block" type="button"> View all </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr style="background-color:#008574; height:5px;width: 100%;" hidden /><br />
                <div class="col-lg-6 col-md-4">
                    <div class="col-lg-12 col-md-4">
                        <label>Exportar a Excel:</label>
                    </div>
                    <div class="col-lg-12 col-md-4">
                        <input type="button" onclick="tableToExcel('example', 'Registros de Papeletas')" value="Export to Excel">
                    </div>
                </div>
                <div class="row" id="TablaRegistros">
                    <div class="col-lg-12 mb-4">
                        <div class="card shadow mb-4">
                            <div class="card-body">
                                <div class="row">
                                    <table id="example" class="display" cellspacing="0" width="100%" style="overflow-x: auto;">
                                        <thead>
                                            <tr>
                                                <th>Materia</th>
                                                <th>Plantel</th>
                                                <th>Alumno</th>
                                                <th>Matricula</th>
                                                <th>Referenica</th>
                                                <th>Docente</th>
                                                <th>Grupo</th>
                                                <th>Comprobante</th>
                                                <th>Revisado</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                                <tr>
                                                    @using (Html.BeginForm("UpdPapeleta", "Home", FormMethod.Post, new { id = "frm-updPapeleta" }))
                                                    {
                                                        <td><label>@item.Materia</label></td>
                                                        <td><label>@item.idPlantel</label></td>
                                                        <td><label>@item.Alumno</label></td>
                                                        <td><label>@item.Matricula</label></td>
                                                        <td><label>@item.Referencia</label></td>
                                                        <td><label>@item.Docente</label></td>
                                                        <td><label>@item.Grupo</label></td>
                                                        <td>
                                                            @if (@item.Comprobante != "")
                                                            {
                                                                <div data-toggle="modal" data-target="#diplomaModal">
                                                                    <img src="~/Comprobantes/@item.Comprobante" style="width: 40px; height: 42px" alt="Comprobante">
                                                                </div>
                                                                <div class="modal fade" id="diplomaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                                    <div class="modal-dialog" role="document">
                                                                        <div class="modal-content">
                                                                            <div class="modal-header">
                                                                                <h5 class="modal-title" id="ModalLabelDiploma">Comprobante de Pago</h5>
                                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                                    <span aria-hidden="true">&times;</span>
                                                                                </button>
                                                                            </div>
                                                                            <div class="modal-body">
                                                                                <img src="~/Comprobantes/@item.Comprobante" @*style="width: 100px; height: 100px"*@ alt="Comprobante">
                                                                            </div>
                                                                            <div class="modal-footer">
                                                                                <button type="button" class="btn btn-warning" data-dismiss="modal">Cerrar</button>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            }
                                                            else
                                                            {
                                                                <label>No hay comprobante</label>
                                                            }
                                                        </td>
                                                        <td><label>@item.Revisado</label></td>
                                                    }
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr style="background-color:#008574; height:5px;width: 100%;" hidden /><br />
                <div class="col-lg-6 col-md-4">
                    <div class="col-lg-12 col-md-4">
                        <label>Exportar a Excel:</label>
                    </div>
                    <div class="col-lg-12 col-md-4">
                        <input type="button" onclick="tableToExcel('example2', 'Extras por Maestro')" value="Export to Excel">
                    </div>
                </div>
                <div class="row" id="TablaExtrasxMaestro">
                    <div class="col-lg-12 mb-4">
                        <div class="card shadow mb-4">
                            <div class="card-body">
                                <div class="row">
                                    <table id="example2" class="display" cellspacing="0" width="100%" style="overflow-x: auto;">
                                        <thead>
                                            <tr>
                                                <th>Docente Elegido</th>
                                                <th>Cantidad de Alumnos</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var EM in ViewBag.ExtrasxMaestro)
                                            {
                                                <tr>
                                                    <td><label>@EM.Docente</label></td>
                                                    <td><label>@EM.Qty_Alumnos</label></td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr style="background-color:#008574; height:5px;width: 100%;" hidden /><br />
                <div class="col-lg-6 col-md-4">
                    <div class="col-lg-12 col-md-4">
                        <label>Exportar a Excel:</label>
                    </div>
                    <div class="col-lg-12 col-md-4">
                        <input type="button" onclick="tableToExcel('example3', 'Alumnos por materia')" value="Export to Excel">
                    </div>
                </div>
                <div class="row" id="TablaAlumnosxMateria">
                    <div class="col-lg-12 mb-4">
                        <div class="card shadow mb-4">
                            <div class="card-body">
                                <div class="row">
                                    <table id="example3" class="display" cellspacing="0" width="100%" style="overflow-x: auto;">
                                        <thead>
                                            <tr>
                                                <th>Materia Seleccionada</th>
                                                <th>Cantidad de Alumnos</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var AM in ViewBag.AlumnosxMateria)
                                            {
                                                <tr>
                                                    <td><label>@AM.Materia</label></td>
                                                    <td><label>@AM.Qty_Alumnos</label></td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr style="background-color:#008574; height:5px;width: 100%;" hidden /><br />
                <div class="col-lg-6 col-md-4">
                    <div class="col-lg-12 col-md-4">
                        <label>Exportar a Excel:</label>
                    </div>
                    <div class="col-lg-12 col-md-4">
                        <input type="button" onclick="tableToExcel('example4', 'Alumnos por Grupo')" value="Export to Excel">
                    </div>
                </div>
                <div class="row" id="TablaAlumnosxGrupo">
                    <div class="col-lg-12 mb-4">
                        <div class="card shadow mb-4">
                            <div class="card-body">
                                <div class="row">
                                    <table id="example4" class="display" cellspacing="0" width="100%" style="overflow-x: auto;">
                                        <thead>
                                            <tr>
                                                <th>Nombre del Grupo</th>
                                                <th>Cantidad de Alumnos</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var AM in ViewBag.AlumnosxGrupo)
                                            {
                                                <tr>
                                                    <td><label>@AM.Grupo</label></td>
                                                    <td><label>@AM.Qty_Alumnos</label></td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr style="background-color:#008574; height:5px;width: 100%;" hidden /><br />
                <div class="row" hidden>
                    <div class="col-md-12 grid-margin stretch-card">
                        <div class="card position-relative">
                            <div class="card-body">
                                <p class="card-title">Detailed Reports</p>
                                <div class="row">
                                    <div class="col-md-12 col-xl-3 d-flex flex-column justify-content-center">
                                        <div class="ml-xl-4">
                                            <h1>33500</h1>
                                            <h3 class="font-weight-light mb-xl-4">Sales</h3>
                                            <p class="text-muted mb-2 mb-xl-0">The total number of sessions within the date range. It is the period time a user is actively engaged with your website, page or app, etc</p>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-xl-9">
                                        <div class="row">
                                            <div class="col-md-6 mt-3 col-xl-5">
                                                <canvas id="north-america-chart"></canvas>
                                                <div id="north-america-legend"></div>
                                            </div>
                                            <div class="col-md-6 col-xl-7">
                                                <div class="table-responsive mb-3 mb-md-0">
                                                    <table class="table table-borderless report-table">
                                                        <tr>
                                                            <td class="text-muted">Illinois</td>
                                                            <td class="w-100 px-0">
                                                                <div class="progress progress-md mx-4">
                                                                    <div class="progress-bar bg-primary" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                                                                </div>
                                                            </td>
                                                            <td><h5 class="font-weight-bold mb-0">524</h5></td>
                                                        </tr>
                                                        <tr>
                                                            <td class="text-muted">Washington</td>
                                                            <td class="w-100 px-0">
                                                                <div class="progress progress-md mx-4">
                                                                    <div class="progress-bar bg-primary" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                                                                </div>
                                                            </td>
                                                            <td><h5 class="font-weight-bold mb-0">722</h5></td>
                                                        </tr>
                                                        <tr>
                                                            <td class="text-muted">Mississippi</td>
                                                            <td class="w-100 px-0">
                                                                <div class="progress progress-md mx-4">
                                                                    <div class="progress-bar bg-primary" role="progressbar" style="width: 95%" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                                                                </div>
                                                            </td>
                                                            <td><h5 class="font-weight-bold mb-0">173</h5></td>
                                                        </tr>
                                                        <tr>
                                                            <td class="text-muted">California</td>
                                                            <td class="w-100 px-0">
                                                                <div class="progress progress-md mx-4">
                                                                    <div class="progress-bar bg-primary" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                                                                </div>
                                                            </td>
                                                            <td><h5 class="font-weight-bold mb-0">945</h5></td>
                                                        </tr>
                                                        <tr>
                                                            <td class="text-muted">Maryland</td>
                                                            <td class="w-100 px-0">
                                                                <div class="progress progress-md mx-4">
                                                                    <div class="progress-bar bg-primary" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                                                                </div>
                                                            </td>
                                                            <td><h5 class="font-weight-bold mb-0">553</h5></td>
                                                        </tr>
                                                        <tr>
                                                            <td class="text-muted">Alaska</td>
                                                            <td class="w-100 px-0">
                                                                <div class="progress progress-md mx-4">
                                                                    <div class="progress-bar bg-primary" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                                                </div>
                                                            </td>
                                                            <td><h5 class="font-weight-bold mb-0">912</h5></td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
        </div>
        <!-- main-panel ends -->
    </div>

    <script src="~/vendor/chart.js/Chart.min.js"></script>
    <script src="~/JS/off-canvas.js"></script>
    <script src="~/JS/hoverable-collapse.js"></script>
    <script src="~/JS/template.js"></script>
    <script src="~/JS/todolist.js"></script>
    <script src="~/JS/dashboard.js"></script>
</body>
</html>
